<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css" />

    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="col-md-12">
            <div>
                <h2 class="black-text header-text upper-case ">ЭРА-ГЛОНАСС</h2>
                <div class="red-subheader upper-case">СИСТЕМА ВЫЗОВА ЭКСТРЕННЫХ ОПЕРАТИВНЫХ СЛУЖБ</div>
                <div class="black-text line header-text upper-case">ПОМОЩЬ ПРИДЕТ ВСЕГДА</div>
            </div>
            <div>
                <div class="col-md-12">
                    <div class="image-container">
                        <div class="inner-image-element">
                            <div class="text-container">
                                <div class="line white-text header-text upper-case padding-t-0">СОСТАВ СИСТЕМЫ
                                    «ЭРА-ГЛОНАСС»</div>
                                <p class="white-text">ЭЛЕКТРОННЫЙ БЛОК УПРАВЛЕНИЯ / КНОПКА ВЫЗОВА / МИКРОФОН / ДИНАМИК /
                                    АНТЕННА</p>
                            </div>
                        </div>
                    </div>

                    <p>Терминал системы «ЭРА-ГЛОНАСС», устанавливаемый в салоне автомобиля, обеспечивает вызов
                        спасательных служб в
                        случае ДТП (автоматически или вручную) с передачей точных координат транспортного средства.
                        «ЭРА-ГЛОНАСС» позволяет значительно сократить время до начала оказания помощи при ДТП.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="black-text line header-text upper-case">ПРИНЦИП РАБОТЫ СИСТЕМЫ</div>
            <p>Система «ЭРА-ГЛОНАСС» предусматривает несколько сценариев развития событий в случае ДТП, участником или
                свидетелем которого Вы стали.</p>
            <div class="row info-cards">
                <div class="info-card col-md-4">
                    <img class="img-fluid" src="images/manual_mood.png">
                    <div class="info-card-header upper-case">РУЧНОЙ РЕЖИМ</div>
                    <p>При необходимости Вы вызываете помощь самостоятельно одним нажатием кнопки SOS, связавшись с
                        оператором и сообщив о происшествии.</p>
                </div>
                <div class="info-card col-md-4">
                    <img class="img-fluid" src="images/automatic_call.png">
                    <div class="info-card-header upper-case">АВТОМАТИЧЕСКИЙ ВЫЗОВ</div>
                    <p>При серьезной аварии экстренный сигнал о помощи передается автоматически (тяжесть ДТП оценивается
                        датчиками системы). Спецслужбы вызываются диспетчером немедленно.</p>
                </div>
                <div class="info-card col-md-4">
                    <img class="img-fluid" src="images/helping another.png">
                    <div class="info-card-header upper-case">ПОМОЩЬ ДРУГОМУ</div>
                    <p>Став свидетелем ДТП, Вы также можете вызвать помощь, связавшись с оператором и сообщив ему о
                        происшествии.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>